<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ireadygo.app.gamelauncher"
    android:versionCode="200005"
    android:versionName="2.0.5"
    tools:ignore="OldTargetApi" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="getui.permission.GetuiService" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />

    <permission
        android:name="getui.permission.GetuiService"
        android:protectionLevel="normal" >
    </permission>

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:name="com.ireadygo.app.gamelauncher.GameLauncherApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme" >

        <!-- 蜗牛桌面配置 start -->
        <!-- activity -->
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.GameLauncherActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/CustomerTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ireadygo.app.gamelauncher.LaunchNotifier" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.EntryActivity"
            android:theme="@style/CustomerTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.detail.DetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.store.StoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.detail.ScreenPictureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.wallpaper.WallpaperChooser"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@mipmap/ic_gamelauncher_wallpaper"
            android:label="@string/wallpaper_choose"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.wallpaper.preview"
                android:resource="@xml/wallpaper_picker_preview" />
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.store.category.CategoryDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.store.collection.CollectionDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.account.AccountDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.account.AccountLoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.account.AccountRegisterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.account.OneKeyLoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.activity.CustomWebviewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" />
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.activity.HelperActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
            <intent-filter>
                <action android:name="com.ireadygo.app.gamelauncher.ui.activity.HelperActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.guide.GuideRegisterOrLoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" />
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.guide.GuideAlipayActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" />
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.guide.GuideOBoxIntroduceActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
            <intent-filter>
                <action android:name="com.ireadygo.app.gamelauncher.GuideOBoxIntroduceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.user.UserActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" />
        <activity
            android:name="com.ireadygo.app.gamelauncher.ui.wx.WeiXinQRcodeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CustomerTheme" >
            <intent-filter>
                <action android:name="com.ireadygo.app.gamelauncher.WeiXinQRcodeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- service -->
        <service android:name="com.ireadygo.app.gamelauncher.service.GameLauncherService" />
        <service
            android:name="com.ireadygo.app.gamelauncher.statusbar.StatusBarService"
            android:exported="false" />
        <service
            android:name="com.ireadygo.app.gamelauncher.aidl.GameLauncherRemoteService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.ireadygo.app.gamelauncher.aidl.keyadapter" />
                <action android:name="com.ireadygo.app.gamelauncher.aidl.wx" />
            </intent-filter>
        </service>
        <service
            android:name="com.ireadygo.app.gamelauncher.aidl.rentfree.RentFreeRemoteService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.ireadygo.app.gamelauncher.rentfree.RentFreeRemoteService" />
            </intent-filter>
        </service>

        <!-- provider -->
        <provider
            android:name="com.ireadygo.app.gamelauncher.account.AccountProvider"
            android:authorities="com.ireadygo.app.gamelauncher.account.AccountProvider"
            android:exported="true" >
        </provider>
        <provider
            android:name="com.ireadygo.app.gamelauncher.game.data.GameLauncherProvider"
            android:authorities="com.ireadygo.app.gamelauncher"
            android:exported="true"
            android:readPermission="com.ireadygo.app.gamelauncher.permission.READ_SETTINGS"
            android:writePermission="com.ireadygo.app.gamelauncher.permission.WRITE_SETTINGS" />
        <provider
            android:name="com.ireadygo.app.gamelauncher.account.pushmsg.SnailPushMessageProvider"
            android:authorities="com.ireadygo.app.gamelauncher.message.provider" />

        <!-- receiver -->
        <receiver android:name="com.ireadygo.app.gamelauncher.GameLauncherReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>
        <!-- 蜗牛桌面 end -->


        <!-- 个推相关配置 start -->


        <!-- 个推相关配置 end -->


        <!-- 蜗牛SDK start -->
        <activity
            android:name="com.snailgame.mobilesdk.aas.ui.UserCenterActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name="com.snail.pay.Payment" >
        </activity>
        <activity
            android:name="com.snailgame.mobilesdk.GetAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.snail.store.logindata" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniPayActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/msp_app_name"
            android:launchMode="singleTop"
            android:process="com.alipay.sdk"
            android:theme="@style/MspAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter android:priority="800" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snailgame.mobilesdk.OboxPayActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="com.snailgame.obox.OBOX_APP_PAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniWebActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:process="com.alipay.sdk"
            android:theme="@style/MspAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.alipay.android.app.MspService"
            android:exported="false"
            android:process="com.alipay.sdk" >
            <intent-filter android:priority="800" />
        </service>

        <activity android:name="com.alipay.android.app.sdk.WapPayActivity" >
        </activity>
        <activity
            android:name="com.umpay.creditcard.android.UmpayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.unionpay.upomp.lthj.plugin.ui.SplashActivity" >
            <intent-filter>
                <action android:name="com.unionpay.upomp.lthj.android.plugin.init.test" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.unionpay.upomp.lthj.plugin.ui.IndexActivityGroup" >
            <intent-filter>
                <action android:name="com.unionpay.upomp.lthj.android.plugin.index.test" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.unionpay.upomp.lthj.plugin.ui.HomeActivity" >
        </activity>
        <activity android:name="com.unionpay.upomp.lthj.plugin.ui.PayActivity" >
        </activity>
        <activity android:name="com.unionpay.upomp.lthj.plugin.ui.AccountActivity" >
        </activity>
        <activity android:name="com.unionpay.upomp.lthj.plugin.ui.BankCardInfoActivity" >
        </activity>
        <activity android:name="com.unionpay.upomp.lthj.plugin.ui.SupportCardActivity" >
        </activity>
        <activity android:name="com.unionpay.upomp.lthj.plugin.ui.UserProtocolActivity" >
        </activity>
        <activity android:name="com.unionpay.upomp.lthj.plugin.ui.AboutActivity" >
        </activity>
        <activity
            android:name="com.umpay.huafubao.ui.BillingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true" >
        </activity>

        <receiver android:name="com.snailgame.mobilesdk.PostSSOLoginReceiver" >
            <intent-filter>
                <action android:name="com.snailgame.postssologin" >
                </action>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.snailgame.mobilesdk.DataProvider"
            android:authorities="com.snailgame.mobilesdk.provider"
            android:exported="true" >
        </provider>

        <service android:name="com.umpay.huafubao.service.AppUpgradeService" />
        <service android:name="com.snail.statistics.SdkTimingService" />

        <!-- 蜗牛SDK end -->


        <!-- 友盟配置  start -->
        <service android:name="com.umpay.huafubao.service.AppUpgradeService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53db0c90fd98c55551018744" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="MUCH_SNAIL_OFFICAL" />
        <!-- 友盟配置  end -->

    </application>

</manifest>